
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(190, 224, 224);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.introduction h1{
    text-align: center;
    font-size: 40px;
    color: rgb(90, 88, 196);
}
.introduction p{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(90, 88, 196);
}
.header{
    height:50px
}

.textScore p{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(90, 88, 196);
}
.score{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;  
   
}
.score div {
    width: 200px;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(90, 88, 196);
    
}
.handScore{
    
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30%;
      
}
.handScore img{
    width: 100px;
    padding-top: 20px;

}



.btns{
    padding-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.btns img{
    background: transparent;
    color:  rgb(190, 224, 224);
    width: 100px;
    border-radius: 20px;
    
}

.result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}
.result div{
    width: auto;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(90, 88, 196);

}
.result button{
    width: 150px;
    height: 50px;
    border: none;
    border: solid 2px rgb(121, 108, 156);
    border-radius: 5px;
    background: transparent;
    font-size: 25px;
}
.result button:hover{
    background:black;
     color:white;

}

.footer{
    
    height: 50px;
    line-height: 50px;
   
    text-align: center;
    bottom:0;
    width:100%;
    
      /* Height of the footer */
    background-color: rgb(3, 30, 54);
   
}
.footer span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: aliceblue;
   /* text-align: center;*/
    font-size: 20px;
    
    
}

